div.vertical-timeline {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 10em 0;
}

body {
  background-image: url("IMG_5323.jpg");
  background-position: right top;
  background-attachment: scroll;
  
  img {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: right;
  }
}
